In [8]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

from loading_data import load_data_from_postgres

query = "SELECT * FROM xdr_data"
df = load_data_from_postgres(query)

if df is not None:
    df=df.dropna()
    print("Successfuly loaded the data")
    print(df.head())
else:
    print("Failed to load the data")

c:\Users\HP\Desktop\tenx_w2\kaim-week-2\scripts\loading_data.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Successfuly loaded the data
       Bearer Id            Start  Start ms              End  End ms  \
11  1.311448e+19  4/15/2019 11:33     626.0  4/25/2019 18:44   542.0
20  1.304243e+19   4/17/2019 0:35     363.0   4/25/2019 4:52   691.0
68  1.304243e+19  4/21/2019 10:09       1.0   4/25/2019 1:39   272.0
78  1.304243e+19  4/21/2019 19:35     344.0   4/25/2019 2:59   259.0
84  1.304243e+19   4/22/2019 1:17     301.0   4/25/2019 1:17   938.0

    Dur. (ms)          IMSI  MSISDN/Number          IMEI Last Location Name  \
11   889834.0  2.082019e+14   3.366447e+10  8.600910e+13            T21335C
20   706649.0  2.082010e+14   3.365875e+10  8.654080e+13            T29714B
68   314961.0  2.082014e+14   3.366274e+10  3.528141e+13            T72937C
78   285833.0  2.082018e+14   3.366917e+10  3.566261e+13            L41432B
84   259201.0  2.082014e+14   3.366555e+10  8.637690e+13            T85779A

    ...  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  \
11  ...           2805710.0          16817598.0          18094847.0
20  ...          15782415.0           9688165.0          18625220.0
68  ...          22191188.0          18851898.0          15879318.0
78  ...          14655680.0             26061.0           5444485.0
84  ...             69288.0          19177045.0          10783199.0

    Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  \
11           2029991.0        504604946.0          1063672.0
20          14679856.0        373953102.0           574875.0
68          10650621.0         48891264.0         13607386.0
78          17740302.0        164451149.0          6446720.0
84           8000048.0        496879416.0          1530545.0

    Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
11       526987098.0        11382619.0        33691738.0       535118044.0
20       161357015.0          134689.0        26026033.0       422406937.0
68       525208955.0         6472727.0        50576233.0        93360974.0
78       415002189.0         4883208.0        32643783.0       193656366.0
84       247233250.0         1175435.0        33314765.0       519351173.0

[5 rows x 55 columns]

In [23]:
from satisfaction import calculate_satisfaction_scores
calculate_satisfaction_scores(df)

Top 10 satisfied users:
         Satisfaction Score  Engagement Score  Experience Score
97489             40.028361          1.554352         78.502371
247531            40.028361          1.554352         78.502371
397523            40.028361          1.554352         78.502371
547524            40.028361          1.554352         78.502371
697513            40.028361          1.554352         78.502371
847511            40.028361          1.554352         78.502371
997506            40.028361          1.554352         78.502371
1147500           40.028361          1.554352         78.502371
1297501           40.028361          1.554352         78.502371
43638             26.011037          2.253119         49.768955
Scores have been calculated successfully!
    Engagement Score  Experience Score
11         17.992852          2.514943
20         13.960509          2.796272
68          5.280759          3.923513
78          4.604170          0.205392
84          4.163858          2.471138

In [22]:
from predict_satisfaction import calc_predict_satisfaction
calc_predict_satisfaction(df)

Model Evaluation:
Mean Absolute Error (MAE): 2.154428966961002e-15
Mean Squared Error (MSE): 1.388498955140321e-29
R-squared (R2): 1.0

Sample Predicted vs Actual Satisfaction Scores:
           Actual  Predicted
602688   2.061999   2.061999
69149    1.490319   1.490319
1243983  1.276807   1.276807
324762   2.436773   2.436773
421727   2.065935   2.065935

In [ ]:
from engagement_experience_cl import eng_exp_cl
eng_exp_cl(df)

Clusters have been assigned successfully!
    Engagement Score  Experience Score  Cluster Label
11         17.992852          2.514943              0
20         13.960509          2.796272              0
68          5.280759          3.923513              0
78          4.604170          0.205392              0
84          4.163858          2.471138              0

In [21]:
from cluster_aggregate import aggregation
aggregation(df)

Aggregated average scores per cluster:
               Satisfaction Score  Experience Score
Cluster Label
0                        2.123722          2.567690
1                       28.475736         55.145981

In [20]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Retrieve the DATABASE_URL from the .env file
connection_string = os.getenv("DATABASE_URL")

# Assuming your DataFrame 'df' already contains the necessary data
# Ensure the column names are properly assigned
final_df = df[["MSISDN/Number", "Engagement Score", "Experience Score", "Satisfaction Score"]]

# Create a connection to the PostgreSQL database
engine = create_engine(connection_string)

# Export the DataFrame to PostgreSQL (assuming table name is 'user_scores')
final_df.to_sql('user_scores', con=engine, index=False, if_exists='replace')

print("Data has been successfully exported to the PostgreSQL database!")

Data has been successfully exported to the PostgreSQL database!